
//快捷方式
.kj-list{
    li{
        padding: 5px;
        .bg-icon{
            width: 100%;
            background: #F8F8F8;
            text-align: center;
            padding: 15px 0;
            margin-bottom: 5px;
        }
            
    }
    a{
        width: 100%;
        display: block;
        text-align: center;
    }
}
//待办事项
.db-centen{
    a{
        display: block;
        width: 95%;
        height: auto;
        background: #f8f8f8;
        padding: 0 15px 20px;
        margin-bottom: 10px;
        
        h3{
            line-height: 35px;
        }
        p{
            color: #009688;
            white-space: nowrap;
        }
    }
}
.db-centen:nth-child(n+3){
    a{
        margin-bottom: 0;
    }
}

//echat图片
.echat-box{
    padding: 0 15px;
}
.echat-box{
    position: relative;
    height: 400px;
    overflow: hidden;
}
.layui-tab-brief{
    background: #FFFFFF;
}

 
//右侧公告
.admin-right-abox{
    background: #FFFFFF;
    min-height: 250px;
    .admin-cententitle{
        padding: 20px 15px 0;
        line-height: 24px;
        font-size: 14px;
        color: #666666;
    }
}
.admin-right-bbox{
    background: #FFFFFF;
    height: 224px;
    .layui-pro{
        margin: 50px 0 70px 0;
    }
    .layui-progress{
        h3{
            position: absolute;
            top:-25px;
            right: 0;
        }
        .layui-progress-text{
            position: absolute;
            top: -30px;
            left: 0;
            font-size: 28px;
        }
    }
}


