.clearmargin{margin: 0 !important;}
//侧边栏
.admin-left{
    z-index: 1001;
    top: 0 !important;
    .layui-logo{
        width: 100%;
        color: rgba(255,255,255,.8);
        box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
        height: 60px;
        line-height: 60px;
        z-index: 1002;
    }
    .layui-nav{
        width: 100%;
        margin-top: 60px;
        .layui-nav-itemed{
            display: flex;
            justify-content: space-around;
            padding: 10px 0;
        }
    }
}

//头部
.admin-head{
    .userlogin{
        position: relative;
        .userloginbtn{
            padding: 0 20px;
            line-height: 60px;
            color: #FFFFFF;
            padding: 0 20px;
        }
        .nav-list{
            width: 100%;
            display: none;
            position: absolute;
            border: 1px solid #888888;
            border-top: 0;
            li{
                height: 40px;
                line-height: 40px;
                color: #000000;
                text-align: center;
            }
            li:hover{
                background: rgba(0,0,0,.2);
            }
        }
    }
    .goqthtml{
        line-height: 60px;
    }
    .userlogin:hover{
        .nav-list{
            display: block
        }
    }
}

.head-a-list{
    min-height: 250px;
    .layui-col-md6{
        height: 100%;
    }
}

//右侧管理导航
.admin-nav{
    width: 100%;
    line-height: 60px;
    .nav-contenbtn{
        display: block;
        width: 100%;
        height: 55px;
        display: flex;
        color: #FFFFFF;
            span{
                margin: 0 55px 0 20px;
        }
    }
    .layui-nav-child{
        width: 100%;
        height: auto;
        dd{
            line-height: 50px;
            color: #FFFFFF;
            a{
                display: block;
                padding-left: 55px;
            }
        }
    }
}

.maxheight{
    bottom: 0 !important;
    .centen-box{
        padding: 15px;
        height: auto;
        background: #C0C0C0;
    }
}
//快捷方式
.kj-list{
    li{
        padding: 5px;
        .bg-icon{
            width: 100%;
            background: #F8F8F8;
            text-align: center;
            padding: 15px 0;
            margin-bottom: 5px;
        }
            
    }
    a{
        width: 100%;
        display: block;
        text-align: center;
    }
}
//待办事项
.db-centen{
    a{
        display: block;
        width: 95%;
        height: auto;
        background: #f8f8f8;
        padding: 0 15px 20px;
        margin-bottom: 10px;
        
        h3{
            line-height: 35px;
        }
        p{
            color: #009688;
            white-space: nowrap;
        }
    }
}
.db-centen:nth-child(n+3){
    a{
        margin-bottom: 0;
    }
}

//echat图片
.echat-box{
    padding: 0 15px;
}
.echat-box{
    position: relative;
    height: 400px;
    overflow: hidden;
}
.layui-tab-brief{
    background: #FFFFFF;
}

 
//右侧公告
.admin-right-abox{
    background: #FFFFFF;
    min-height: 250px;
    .admin-cententitle{
        padding: 20px 15px 0;
        line-height: 24px;
        font-size: 14px;
        color: #666666;
    }
}
.admin-right-bbox{
    background: #FFFFFF;
    height: 224px;
    .layui-pro{
        margin: 50px 0 70px 0;
    }
    .layui-progress{
        h3{
            position: absolute;
            top:-25px;
            right: 0;
        }
        .layui-progress-text{
            position: absolute;
            top: -30px;
            left: 0;
            font-size: 28px;
        }
    }
}


